/* pc >=1024px */
/* table >=740px and <=1024px*/
/* mobile<740px */

@media (max-width :1023px) {
    .btn{
        padding: 15px 16px;
    }

    .contact-form .form-control{
        padding: 15px;
    }
    .socials-list{
        font-size: 20px !important;
        padding: 0 16px;
    }
    .contact-info{
        line-height: 2;
    }
}


@media (min-width: 740px) and (max-width: 1023px) {


}



@media (max-width:740px) {

    .s-full-width{
        width: 100%;
    }

    .s-col-full{
        width: 100%;
    }
    .s-mt-8{
        margin-top: 8px !important;
    }
    #header{
        overflow: hidden;
    }
    #header .menu-icon{
        display: block;
    }
    #header .search-icon{
        display: none;
    }
    #header .search-btn:hover{
        background-color: #ccc;
        cursor: none;
    }
    
    #js-mobile-menu {
        position: absolute;
        top: 0;
        right: 0;
    }
    #nav{
        display: block;
    }
    
    
    #nav li{
        display: block;
    }
    
    #nav > li:first-child{
        display: inline-block;
    }
    #icon-more svg{
        position: absolute!important; top: 15px !important;left: 20px !important;
    }
    #nav .subnav{
        position: initial;
        background-color: #535353;
    }
    #nav .subnav a{
        color: aliceblue;
        padding:5px 36px ;

    }

    #nav .subnav a:hover{
        background-color: #535353;
    }
    #content .about-text{
        font-style: normal;
    }

    #content .member-item{
        margin-top: 30px;
        width: 100% ;
    }

    #content .member-img{
        width: 70%;
    }
  .contact-form{
    margin-top: 16px;
  }

  #footer{
    margin-top: 12px;
    margin-bottom: 32px;
  }
}
